<%= erb :"common/header_with_nav_bar" %>

    <h1>Admin page :</h1>

  <p><a href="/password_reset" id="mod">Go To Password Reset Page</a></p>
    
    <form>
        <p id="search_area">Search by username: 
        <input type="text" id="search_area" name="user_search" value="<%= h @user_search %>"/>
        <input type="submit" id="submit" value="Submit" /></p>
    </form>


    <% if @users.count > 0 %>
    <table id="user_table">
      <tr id="columns">
        <th>Id</th>
        <th>Username</th>
        <th>email</th>
        <th>User_type</th>
        <th>Institution</th>
        <th colspan=4>change account type to:</th>
        <th>Suspended</th>
        <th></th>


      </tr>
    <% @users.each do |user|%>
      <tr>
        <td class="row"><%=h user.id %></td>
        <td class="row"><%=h user.username %></td>
        <td class="row"><%=h user.email %></td>
        <td class="row"><%=h user.user_type %></td>
        <td class="row"><%=h user.institution %></td>
        <td class="butn_row">
        
        <form method="post" action="edit_mod">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="Moderator" />
        </form>
        </td>
        <td class="butn_row">
        <form method="post" action="edit_admin">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="Admin" />
        </form>
        </td>
        <td class="butn_row">
        <form method="post" action="edit_view">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="Viewer" />
        </form>
        </td>
        <td class="butn_row">
        <form method="post" action="edit_poster">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="Poster" />
        </form>
        </td>

        <td class="row"><%=h user.suspended %></td>
        <% if user.suspended == "N" %>
        <td class="butn_row">
        <form method="post" action="suspend_user">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="suspend" />
        </form>
        </td>
        <%else%>
        <td class="butn_row">
        <form method="post" action="restore_user">
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <input type="submit" id="acc_change" value="restore" />
        </form>
        </td>
        <%end%>

        <td><a href="/edit_user_from_admin?id=<%= h user.id %>">Edit</a></td>

      </tr>
    <% end %> 
    </table>
    <% else %>
        <p>The database is empty!</p>
        <p>There are no users!</p>
    <% end %>
    
    <%= erb :"common/footer" %>