<% @subtitle = "Edit User" %>
<%= erb :"common/header_with_nav_bar" %>
<%= erb :"common/uni_array" %>

<% if @user.nil? %>

    <p class="error"><strong>Unknown post</strong></p>

<% else %>    

    <% unless @user.errors.size.zero? %>
        <p><strong class="error">Please correct the errors below:</strong></p>
    <% end %>

    <form method="post">
    
        
        <input type="hidden" name="id" value="<%= @user.id %>" />

        <p class="field"><input type="hidden" name="username" value="<%= h @user.username %>" /></p>
        

        <p class="field"><input type="hidden" name="email" value="<%= h @user.email %>" /></p>
        

        <p class="field"><input type="hidden" name="user_type" value="<%= h @user.user_type %>" /></p>
        <p class="field"><input type="hidden" name="institution" value="<%= h @user.institution %>" /></p>

        

        <p class="label">Type a Temporary Password</p>
        <p class="field"><input type="TEXT" name="password" /></p>
        <% if @user.errors.include?("password") %>
            <% @user.errors["password"].each do |error| %>
                <p class="error"><strong>Password <%= error %></strong></p>
            <% end %>
        <% end %>


        <p class="field"><input type="hidden" name="suspended" value="<%= h @user.suspended %>" /></p>

        <p class="field"><input type="hidden" name="password_reset" value="N" /></p>

        <p class="submit"><input type="submit" value="Submit" /></p>
        </form>

<% end %>



<%= erb :"common/footer" %>