<html>


  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acme | viewer</title>

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
   <header>

        <nav class="navbar">
            <div class="logo">
                <h>ACME</h>
            </div>
            <ul class="nav_menu">
                <li>
                    <a href="/home" id="home">Home</a>
                </li>
                <li class="pagenow">
                    <a href="/create_post" id="post">Post</a>
                </li>
                <li>
                    <a href="/logout" id="logout">Logout</a>
                </li>

            </ul>
        </nav>
    </header>
    <main>
    <h1>
      Create a Post
    </h1>
    <div id="create_post_area">
      <form id ="form1" method="post" action="/create_post"> 

        <!--Mandatory-->
        <!--Start again here-->
        <p> 
          *Title: <br />
          <input type="text" name="title" value="<%= h @title_field %>"/>
          <% if @title_error %>
            <br /><strong class="error"><%= @title_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Topic: <br />
          <input type="text" name="topic" />
          <% if @topic_error %>
            <br /><strong class="error"><%= @topic_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Institution or University: <br />
          <input type="text" name="institution" />
          <% if @institution_error %>
            <br /><strong class="error"><%= @institution_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Link to your paper: <br />
          <input type="text" name="link" />
          <% if @link_error %>
            <br /><strong class="error"><%= @link_error %></strong>
          <% end %>
        </p>

        <p><input type="submit" value="Submit" id="submit"></p>
      </form>

      <% if @form_was_submitted %>
        <% if @submission_error %>
          <p><strong class="error">Please correct the errors below</strong></p>
        <% else %>
          <p><strong class="success">Success!</strong></p>        
        <% end %>
      <% end %>
      </div>
    </main>
     <footer>
        <p class="copyright">© com1001 Group34, 2021-22</p>
        <p>Please note: This is a fictitious website and all the information written is completely fabricated.</p>
    </footer>
</body>
</html>
