<%= erb :"common/header_with_nav_bar" %>
    <h1>
      Create a Post
    </h1>
    <div id="create_post_area">
      <form id ="form1" method="post" action="/create_post"> 

        <!--Mandatory-->
        <!--Start again here-->
        <p> 
          *Title: <br />
          <input type="text" name="title" value="<%= h @title_field %>"/>
          <% if @title_error %>
            <br /><strong class="error"><%= @title_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Topic: <br />
          <input type="text" name="topic" />
          <% if @topic_error %>
            <br /><strong class="error"><%= @topic_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Institution or University: <br />
          <input type="text" name="institution" />
          <% if @institution_error %>
            <br /><strong class="error"><%= @institution_error %></strong>
          <% end %>
        </p>

        <!--Mandatory-->
        <p>
          *Link to your paper: <br />
          <input type="text" name="link" />
          <% if @link_error %>
            <br /><strong class="error"><%= @link_error %></strong>
          <% end %>
        </p>

        <% if session[:logged_in] == true %>
          <p>
            <input type="hidden" name="poster_name" value="<%= session[:username] %>" />
          </p>
        <% else %>
          <p>
            <input type="hidden" name="poster_name" value="Guest" />
          </p>   
        <% end %>

        <p>
          <input type="hidden" name="approved" value="Not Approved" />
        </p>

        <p><input type="submit" value="Submit" id="submit"></p>
      </form>

      <% if @form_was_submitted %>
        <% if @submission_error %>
          <p><strong class="error">Please correct the errors below</strong></p>
        <% else %>
          <p><strong class="success">Success!</strong></p>        
        <% end %>
      <% end %>
      </div>
    
    <%= erb :"common/footer" %>