<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acme | viewer</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <h>ACME</h>
        </div>
    </header>
    <main>
    <h1>
      Create an Account
    </h1>
    <div id="create_account_area">
      <form id ="form1" method="post" action="/create_account"> 

        <p> 
          *Username: <br />
          <input type="text" name="username" value="<%= h @username_field %>"/>
          <% if @username_error %>
            <br /><strong class="error"><%= @username_error %></strong>
          <% end %>
          <% if @username_validation_error %>
            <br /><strong class="error"><%= @username_validation_error %></strong>
          <% end %>
        </p>

        <!-- set the default user_type to poster for every account created -->
        <p>
          <input type="hidden" name="user_type" value="poster" />
        </p>

        <p>
          *Email: <br />
          <input type="text" name="email" />
          <% if @email_error %>
            <br /><strong class="error"><%= @email_error %></strong>
         <% end %>
        </p>

        <p>
          *Institution or University: <br />
          <input type="text" name="institution" />
          <% if @institution_error %>
            <br /><strong class="error"><%= @institution_error %></strong>
         <% end %>
        </p>

        <p>
          *Password: <br />
          <input type="password" name="password" />
          <% if @password_error %>
            <br /><strong class="error"><%= @password_error %></strong>
          <% end %>
        </p>

        <p><input type="submit" value="Submit" id="submit"></p>
      </form>

      <% if @form_was_submitted %>
        <% if @submission_error %>
          <p><strong class="error">Please correct the errors below</strong></p>
        <% else %>
          <p><strong class="success">Success!</strong></p>        
        <% end %>
      <% end %>
      </div>
    </main>
</body>

</html>


 