<% @subtitle = "Edit User" %>
<%= erb :"common/header_with_nav_bar" %>
<%= erb :"common/uni_array" %>

<% if @user.nil? %>

    <p class="error"><strong>Unknown post</strong></p>

<% else %>    

    <% unless @user.errors.size.zero? %>
        <p><strong class="error">Please correct the errors below:</strong></p>
    <% end %>

    <form method="post">
    
        
        <input type="hidden" name="id" value="<%= @user.id %>" />
        `<p class="label">Username</p>
        <p class="field"><input type="text" name="username" value="<%= h @user.username %>" /></p>
        <% if @user.errors.include?("username") %>
            <% @user.errors["username"].each do |error| %>
                <p class="error"><strong>Username <%= error %></strong></p>
            <% end %>
        <% end %>

        <p class="label">Email</p>
        <p class="field"><input type="text" name="email" value="<%= h @user.email %>" /></p>
        <% if @user.errors.include?("email") %>
            <% @user.errors["email"].each do |error| %>
                <p class="error"><strong>Email <%= error %></strong></p>
            <% end %>
        <% end %>

        <p class="field"><input type="hidden" name="user_type" value="<%= h @user.user_type %>" /></p>

        <p class="label">Select your Institution</p>
        <select name=institution id="myUL">
            <% @uni.each do |uni|%>
            <option value="<%= uni %>"><a href="#"><%= uni %></a></option>
            <%end%>
          </select>
        <% if @user.errors.include?("institution") %>
            <% @user.errors["institution"].each do |error| %>
                <p class="error"><strong>Institution <%= error %></strong></p>
            <% end %>
        <% end %>

        <p class="label">Password</p>
        <p class="field"><input type="text" name="password" value="<%= h @user.password %>" /></p>
        <% if @user.errors.include?("password") %>
            <% @user.errors["password"].each do |error| %>
                <p class="error"><strong>Password <%= error %></strong></p>
            <% end %>
        <% end %>

        <p class="field"><input type="hidden" name="suspended" value="<%= h @user.suspended %>" /></p>

        <p class="field"><input type="hidden" name="password_reset" value="<%= h @user.password_reset %>" /></p>

        <p class="submit"><input type="submit" value="Submit" /></p>
        </form>

<% end %>



<%= erb :"common/footer" %>