<%= erb :"common/header" %>
        <h1 id="log_in_"> Login </h1>
        <div id="login_area">
            <form id="form1" name="form1" method="post" action ="/login">
                <% unless @error.nil? %>
                    <p><strong class="error"><%= @error %></strong></p>
                <% end %>
                <p>Username: <br /><input type="text" name="username" value="<%= @users.username %>"/></p>
                <% if @users.errors.include?("username") %>
                    <% @users.errors["username"].each do |error| %>
                        <p class="error"><strong>Username <%= error %></strong></p>
                    <% end %>
                <% end %>
                
                <p>Password: <br /><input type="password" name="password" /></p>
                <% if @users.errors.include?("password") %>
                    <% @users.errors["password"].each do |error| %>
                        <p class="error"><strong>Password <%= error %></strong></p>
                    <% end %>
                <% end %>
                <p>
                <input type="submit" value="Submit" id="submit">
                <input type="reset" id="reset">
                </p>
            </form>
        </div>
        <div>
            <a id="create_acc" href="/create_account">Create Account</a>
            <a id="forgot_pass" href="">Forgot password</a>
            <a id="guest" href="/create_post">Log in as guest</a>
        </div>
        
<%= erb :"common/footer" %>
