<%= erb :"common/header" %>

  <h1>Password Reset Requests</h1>

  <p><a href="/admin" id="mod">Go Back To Admin Page</a></p>

  <%requestNum = 0%>
  <% @users.each do |user|%>
    <%if user.password_reset == "Y"%>
      <%requestNum += 1%>
    <%end%>
  <%end%>
  
  <%if requestNum > 0%>
    <table id="user_table">
      <tr id="columns">
        <th>Id</th>
        <th>Username</th>
        <th>email</th>
        <th>User_type</th>
        <th>Institution</th>
        <th>Assign New Password</th>
        </tr>

      <% @users.each do |user|%>
        <%if user.password_reset == "Y"%>
          <tr>
            <td class="row"><%=h user.id %></td>
            <td class="row"><%=h user.username %></td>
            <td class="row"><%=h user.email %></td>
            <td class="row"><%=h user.user_type %></td>
            <td class="row"><%=h user.institution %></td>

          <td id="acc_change"><a href="/assign_temp_password?id=<%= h user.id %>">Assign Temporary Password</a></td>

          </tr>
        <%end%>
      <%end%>
    </table>
  <% else %>
    <p>There are no password reset requests!</p>
  <%end%>

<%= erb :"common/footer" %>