<%= erb :"common/header_with_nav_bar" %>
    <h1> Your Details: </h1>
    <div> Username :  <%= session[:username] %> </div>
    <div> Email :  <%= session[:email] %> </div>
    <div> institution :  <%= session[:institution] %> </div>
    <div> Password :  <%= session[:password] %> </div>

    <%= erb :"common/footer" %>