<%= erb :"common/header_with_nav_bar" %>
    <h1> Your Details: </h1>

     <% if @users.count > 0 %>
    <table id="user_table">
      <tr id="columns">
        <th>Username</th>
        <th>email</th>
        <th>User_type</th>
        <th>Institution</th>
        <th>Password</th>

      </tr>
    <% @users.each do |user|%>
        <% if user.username == session[:username] %>
        <tr>
            <td class="row"><%=h user.username %></td>
            <td class="row"><%=h user.email %></td>
            <td class="row"><%=h user.user_type %></td>
            <td class="row"><%=h user.institution %></td>
            <td class="row"><%=h user.password %></td>
            <td><a href="/edit_personal_user?id=<%= h user.id %>">Edit</a></td>
        </tr>
        <% end %> 
    <% end %> 
    </table>
    <% end %>

     <h1> Your Posts: </h1>
    <% if @posts.count > 0 %>
    <table id="post_table">
    <% @posts.each do |post|%>
    <% if post.poster_name == session[:username] %>
      <tr id="columns">
          <th>Posted by:</th>
          <th>ID</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Institution</th>
          <th>Sponsor</th>
          <th>Link</th>
      </tr>
    
      <tr>
          <td class="row"><%=h post.poster_name %></td>
          <td class="row"><%=h post.id %></td>
          <td class="row"><%=h post.title %></td>
          <td class="row"><%=h post.topic %></td>
          <td class="row"><%=h post.institution %></td>
          <td class="row"><%=h post.sponsor %></td>
          <td class="row"><a href="<%=h post.link %>"><%=h post.link %></td>
      </tr>
      <tr>
          <td colspan=6><%=h post.content %></td>
      </tr> 
      <% end %>  
    <% end %> 
    </table>
    <% end %>

    <%= erb :"common/footer" %>