<%= erb :"common/header_with_nav_bar" %>

    <h1>Viewer page :</h1>
    <form>
        <p id="search_area">Search by University: 
        <input type="text" id="search_area" name="post_search" value="<%= h @post_search %>"/>
        <input type="submit" id="submit" value="Submit" /></p>
    </form>

        <% if @posts.count > 0 %>
            <table id="post_table">
                <tr id="columns">
                    <th>Posted by:</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Topic</th>
                    <th>Institution</th>
                    <th>Link</th>
                </tr>
                <tr>
                <% @posts.each do |post|%>
                    <td class="row"><%=h post.poster_name %></td>
                    <td class="row"><%=h post.id %></td>
                    <td class="row"><%=h post.title %></td>
                    <td class="row"><%=h post.topic %></td>
                    <td class="row"><%=h post.institution %></td>
                    <td class="row"><%=h post.link %></td>
                    <td class="row"><%=h post.content %></td>
                </tr>
                <% end %> 
            </table>
            <% else %>
                <p>The database is empty!</p>
                <p>There are no posts!</p>
            <% end %>
        <p></p>
    <%= erb :"common/footer" %>