<%= erb :"common/header_with_nav_bar" %>

    <h1>Viewer page :</h1>
    <form>
        <p id="search_area">Search by University: 
        <input type="text" id="search_area" name="post_search1" value="<%= h @post_search1 %>"/>
        
        <input type="submit" id="submit" value="Submit" /></p>
    </form>

        <% if @posts.count > 0 %>
            <% @posts.each do |post|%>
            <table id="post_table">
                <tr id="columns">
                    <th>Posted by:</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Topic</th>
                    <th>Institution</th>
                    <th>Sponsor</th>
                    <th>Link</th>
                </tr>
              
                
                <tr>
                    <td class="row"><%=h post.poster_name %></td>
                    <td class="row"><%=h post.id %></td>
                    <td class="row"><%=h post.title %></td>
                    <td class="row"><%=h post.topic %></td>
                    <td class="row"><%=h post.institution %></td>
                    <td class="row"><%=h post.sponsor %></td>
                    <td class="row"><a href="<%=h post.link %>"><%=h post.link %></td>
                    <% if session[:is_moderator]==true%>
                        <td><a href="/edit_from_viewer_page?id=<%= h post.id %>">Edit</a></td>
                    <% end %>
                    <% if session[:is_admin]==true%>
                        <td><a href="/edit_from_viewer_page?id=<%= h post.id %>">Edit</a></td>
                    <% end %>
                </tr>
                <tr>
                    <td colspan=6 class="content_col"><%=h post.content %></td>
                </tr> 
                <% end %> 
            </table>
            <% else %>
                <p>The database is empty!</p>
                <p>There are no posts!</p>
            <% end %>
        <p></p>
    <%= erb :"common/footer" %>