<%= erb :"common/header_with_nav_bar" %>
<%= erb :"common/uni_array" %>
    <h1>Viewer page :</h1>
    <form>
        <div> Filter by University: </div>
        <div>
        <select name="post_search1" id="myUL">
            <% @uni.each do |uni|%>
            <option value="<%= uni %>"><a href="#"><%= uni %></a></option>
            <%end%>
          </select>
        </div>
        <div>
        <input type="text" id="search_area" name="post_search2" value="<%= h @post_search2 %>" placeholder="Search by Topic"/>
        <input type="text" id="search_area" name="post_search3" value="<%= h @post_search3 %>" placeholder="Search by Sponsors"/>
        </div>
        <p>
         <input type="submit" id="submit" value="Apply" /></p>
    </form>

        <% if @posts.count > 0 %>
            <% @posts.each do |post|%>
            <table id="post_table">
                <tr id="columns">
                    <th>Posted by:</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Topic</th>
                    <th>Institution</th>
                    <th>Sponsor</th>
                    <th>Link</th>
                </tr>
              
                
                <tr>
                    <td class="row"><%=h post.poster_name %></td>
                    <td class="row"><%=h post.id %></td>
                    <td class="row"><%=h post.title %></td>
                    <td class="row"><%=h post.topic %></td>
                    <td class="row"><%=h post.institution %></td>
                    <td class="row"><%=h post.sponsor %></td>
                    <td class="row"><a href="<%=h post.link %>"><%=h post.link %></td>
                    <% if session[:is_moderator]==true%>
                        <td class="butn_row"><a href="/edit_from_viewer_page?id=<%= h post.id %>">Edit</a></td>
                    <% end %>
                    <% if session[:is_admin]==true%>
                        <td class="butn_row"><a href="/edit_from_viewer_page?id=<%= h post.id %>">Edit</a></td>
                    <% end %>
                    <td class="butn_row"> 
                    <form method="post" action="/delete">
                        <input type="hidden" name="id" value="<%= post.id %>" />
                        <input type="submit" value="Delete" />
                    </form>
                    </td>  
                </tr>
                <tr>
                    <td colspan=6 class="content_col"><%=h post.content %></td>
                </tr> 
                <% end %> 
            </table>
            <% else %>
                <p>The database is empty!</p>
                <p>There are no posts!</p>
            <% end %>
        <p></p>
    <%= erb :"common/footer" %>